@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  min-height: 100%;
}

html {
  display: flex;
  min-height: 100%;
  box-sizing: border-box;
  overflow-y: hidden;
} */

.swiper-slide {
  width: auto !important;
}

@keyframes skeleton-loading {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px) 0;
  }
}

.skeleton {
  background: linear-gradient(
    90deg,
    #adadad82 0%,
    #adadad82 25%,
    #d4d2d2ac 50%,
    #adadad82 75%,
    #adadad82 100%
  );
  background-size: 200px 100%;
  animation: skeleton-loading 2s infinite linear;
}

[data-rsbs-header] {
  flex-shrink: 1;
  flex-grow: 1;
  -webkit-tap-highlight-color: revert;
  -webkit-touch-callout: revert;
  -webkit-user-select: auto;
  -ms-user-select: auto;
  -moz-user-select: auto;
  user-select: auto;
  overflow: auto;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
  /* 커스텀할 내용 추가 */
  background-color: #2a2929;
  border-radius: 13px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

[data-rsbs-scroll] {
  flex-shrink: 1;
  flex-grow: 1;
  -webkit-tap-highlight-color: revert;
  -webkit-touch-callout: revert;
  -webkit-user-select: auto;
  -ms-user-select: auto;
  -moz-user-select: auto;
  user-select: auto;
  overflow: auto;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
  /* 커스텀할 내용 추가 */
  background-color: #2a2929;
}

.bg-agora-point-color1 {
  background-color: #00ADAC !important;
}

.bg-agora-point-color2 {
  background-color: #79E0D9 !important;
}

.bg-agora-point-color3 {
  background-color: #E1C5B9 !important;
}

.bg-agora-point-color4 {
  background-color: #FAC171 !important;
}

.bg-agora-point-color5 {
  background-color: #FFBEC1 !important;
}

.bg-agora-point-color6 {
  background-color: #35627B !important;
}

.swal2-icon:is(.dark *){
  margin: 2.5em auto .6em !important;
  border-color: white !important;
  color: white !important;
  font-size: 0.5rem !important;
}

.swal2-icon{
  margin: 2.5em auto .6em !important;
  border-color: #DB4455 !important;
  color: #DB4455 !important;
  font-size: 0.5rem !important;
}

.swal2-html-container:is(.dark *){
  padding-top: .2rem !important;
  font-size: 0.7rem !important; 
  overflow-y: hidden !important;
  height: 1.5rem !important;
  color: lightgray !important;
}

.swal2-html-container{
  padding-top: .2rem !important;
  font-size: 0.7rem !important; 
  overflow-y: hidden !important;
  height: 1.5rem !important;
  color: black !important;
}

.swal2-actions{
  margin: 0.6rem auto 0 !important;
}

.custom-before:before{
  border-bottom-color: #f1f3f5 !important;
}

.dark .custom-before:before{
  border-bottom-color: white !important;
}

.ReactCrop__child-wrapper{
  height: inherit !important;
  display: flex;
}

[contenteditable="true"]:empty:before{
  content: attr(data-placeholder);
  color: rgba(0, 0, 0, 0.4);
}

:is(.dark) [contenteditable="true"]:empty:before{
  color: rgba(255, 255, 255, 0.6);
}

.swal2-validation-message {
  font-weight: 200 !important;
  margin: 0 !important;
  color: #ef4444;

}

.swal2-validation-message:is(.dark *){
  font-weight: 200 !important;
  margin: 0 !important;
  color: #FF9685;
}