@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Todo: darkk dark로 변경 */
@media (prefers-color-scheme: darkk) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "laundryGothic", sans-serif;
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "laundryGothic";
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/laundryGothicOTF-Regular.otf") format("otf");
}

@font-face {
  font-family: "laundryGothic";
  font-weight: bold;
  font-style: normal;
  src: url("/fonts/laundryGothicOTF-Bold.otf") format("otf");
}

.swiper-slide {
  width: auto !important;
}
